
 .main-bg {
   background: radial-gradient(circle at top left, #0b0c17, #1c1f36, #0b0c17); min-height: 100vh;
  color: #fff;
}

.glass-nav {
  background: rgba(20, 20, 40, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(0, 255, 200, 0.2);
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 2%;
  z-index: 1000;
//  margin-top: 50px;

}

.navbar-brand {
font-size: 1.8rem;
  font-weight: 700;
 }

.ride {
color:  #0fffc0;
 }

 .on {
  color: #ff4ecd;
}

 .form-card {
border-radius: 12px;
background: rgba(255, 255, 255, 0.95);
 }

 .car-card {
 border-radius: 12px;
background: #fff;
 color: #000;
transition: transform 0.4s ease, box-shadow 0.3s ease;
 }

.car-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 255, 200, 0.3);
 }

.animate-up {
 animation: fadeUp 0.6s ease forwards;
opacity: 0;
 }

 @keyframes fadeUp {
   from {
     opacity: 0;
     transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
   }
 }

 .is-valid {
   border-color: #28a745 !important;
  box-shadow: 0 0 6px rgba(40, 167, 69, 0.5);
}

.is-invalid {
   border-color: #dc3545 !important;
    box-shadow: 0 0 6px rgba(220, 53, 69, 0.5);
 }
